$purple-arrow-size: 76px;
$purple-arrow-large-size: 100px;

.purple-arrow-bottom {
  display: block;
  width: $purple-arrow-size;
  height: $purple-arrow-size;
  background: url(../images/purple-circlev2.png) no-repeat 0 0 scroll $purple-color;
  box-shadow: 18px 14px 37px -10px #222;
  border-radius: 100px;
  margin: $spacer * 2  auto 0;

  &-intersection {
    display: flex;
    margin-top: -$purple-arrow-size / 2;

    &-container {
      position: relative;
      z-index: 30;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &--large {
    width: $purple-arrow-large-size;
    height: $purple-arrow-large-size;
    background-position: center;
  }
}
