.border-box {
  border: 4px solid #010101;
  padding: $spacer;
  font-size: $pr30 * 0.75;
  text-align: left;

  p {
    line-height: 1;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: $pr30;
    padding: $spacer * 2;
  }
}
