.brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $secondary-color;
  margin-bottom: $spacer * 3;

  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: $spacer * 2;
    margin-left: $spacer;
    width: 100%;

    &:first-child {
      margin-left: 0;
    }

    @include media-breakpoint-up(md) {
      width: auto;
    }
  }
}
