.btn {
  background: $primary;
  border-radius: 5px;
  border: 0;
  font-family: $base-font-family;
  font-size: $pr18;
  font-weight: 700;
  color: $text-color--light;
  padding: $spacer * 0.75  $spacer * 2;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  outline: none;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s linear;

  @include media-breakpoint-up(md) {
    border: 0;
    margin: 0 auto;
    font-size: $pr30;
    padding: $spacer * 1.7;
  }

  &__arrow {
    margin-right: $spacer;
    background-image: url(../images/button-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    display: flex;
    width: 17px;
    height: 20px;

    @include media-breakpoint-up(md) {
      width: 28px;
      height: 29px;
    }
  }

  &-action {
    text-decoration: none;
    display: inline-block;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.btn--default {
  background-color: $btn--default-bg;
  border-radius: 30px;
  padding: $spacer * 0.75  $spacer * 2.2;
  display: inline-block;
  font-size: $pr20;

  &:hover,
  &:focus,
  &:active {
    background-color: $light;
    color: $btn--default-bg;
    outline: none;
  }
}

.btn--is {
  background-color: $dark-blue-color;
  border-radius: 10px;
  display: inline-block;
  font-family: $primary-font-family;
  font-size: $pr50 * 0.55;

  @include media-breakpoint-up(md) {
    font-size: $pr50;
    padding: $spacer  $spacer * 5;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $dark;
    color: $light;
    outline: none;
  }
}

.btn--is-gradient {
  background: #173050;
  background: linear-gradient(to bottom, #173050 0%, #366b7f 100%);
  border-radius: 60px;
  display: inline-block;
  font-family: $primary-font-family;
  font-size: $pr30;
  padding: $spacer * 1.5  $spacer * 2;
  line-height: 1;

  @include media-breakpoint-up(md) {
    font-size: $pr68;
    padding: $spacer * 3  $spacer * 4;
  }

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(to bottom, $dark 0%, $dark 100%);
    color: $light;
    outline: none;
  }
}

.btn--wide {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// Script styles
.wj-hide {
  overflow-x: hidden !important;
}

.wj-hide body {
  overflow: hidden !important;
}
