$intersection-section-bg: #1b1d29;
$intersection-size: $spacer * 30;

.combined-section {
  overflow: visible;

  &--1 {
    padding-bottom: $intersection-size;
  }

  &--2 {
    .title--blue {
      font-size: $pr75 * 0.65;
      line-height: 1.1;
      margin-bottom: $spacer * 2;

      @include media-breakpoint-up(md) {
        font-size: $pr75;
        margin-bottom: $spacer * 5;
      }
    }

    h3 {
      font-family: $base-font-family;
      font-size: $pr33 * 0.75;

      @include media-breakpoint-up(md) {
        font-size: $pr33;
        margin-top: 0;
      }
    }
  }

  &--intersection {
    background-color: $intersection-section-bg;
    margin-top: - $intersection-size;
    margin-bottom: $spacer * 1.5;
    position: relative;
    z-index: 15;
    padding: $spacer * 3;

    @include media-breakpoint-up(md) {
      padding: $spacer * 5;
      margin-bottom: $spacer * 6;
    }

    h3 {
      font-family: $base-font-family;
      font-size: $pr32 * 0.75;

      @include media-breakpoint-up(md) {
        font-size: $pr32;
      }
    }

    .title--green {
      font-family: $base-font-family;
      font-size: $pr58 * 0.75;
      text-transform: none;

      @include media-breakpoint-up(md) {
        font-size: $pr58;
      }
    }
  }
}

.row--icon-text {
  margin-top: $spacer * 2;

  &:first-child {
    margin-top: 0;
  }

  p {
    line-height: 1.2;
  }

  .icon {
    @include media-breakpoint-down(md) {
      max-width: 100px;
    }
  }
}
