.cover-hero {
  padding: 0;
  margin: 0;
  background-color: $dark-blue-color;

  &__wrapper {
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../images/nathan-2-mb.jpg);
    min-height: 0;
    padding: $spacer * 5  0;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
      background-image: url(../images/nathan-2-dt.jpg);
      min-height: 690px;
      padding: 0;
    }

    @include media-breakpoint-up(twok) {
      max-width: 1900px;
      margin: 0 auto;
    }
  }

  &__title {
    color: $light;
    font-size: $pr75 * 0.55;
    text-align: center;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
    // max-height: 690px;

    @include media-breakpoint-up(md) {
      font-size: $pr75 * 0.75;
    }

    @include media-breakpoint-up(lg) {
      font-size: $pr75;
      // min-height: 690px;
    }
  }
}
