$feed-text-color: #283747;

.feeds {
  padding-top: 0;

  @include media-breakpoint-up(md) {
    padding-top: $spacer;
  }

  &__item {
    color: $feed-text-color;
    font-size: $pr14;
    margin-bottom: $spacer * 2;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  &__image {
    margin: 0 auto;
    width: 170px;

    @include media-breakpoint-up(md) {
      display: inline-block;
      float: left;
      margin-right: $spacer * 1.5;
      width: 80px;
    }
  }

  &__title {
    color: $feed-text-color;
    font-size: $pr18;
    font-weight: 400;
    margin: $spacer / 2  0;

    @include media-breakpoint-up(md) {
      display: inline-block;
      font-size: $pr20;
    }
  }

  &__link {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    margin: 0;
  }
}
