@font-face {
  font-family: "Helvetica";
  font-display: auto;
  src: url("../fonts/Helvetica.woff") format("woff");
}

@font-face {
  font-family: "Big Caslon Medium";
  font-display: auto;
  src: url("../fonts/BigCaslonMedium.ttf") format("ttf");
}
