.footer {
  font-family: $base-font-family;
  padding-top: $spacer * 2;
  color: $footer-text-color;

  @include media-breakpoint-up(md) {
    font-size: $pr14;
  }

  &__text {
    margin-bottom: $spacer / 2;
    font-size: $pr16;
  }

  a {
    color: $footer-link-color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
}
