.frm {
  &__input {
    width: 100%;
    margin-top: $spacer / 2;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 3px solid rgba(0, 0, 0, 0.13);
    background: #fff;
    background: linear-gradient(to bottom, #fff 0%, #efefef 100%);
    border-radius: 5px;
    font-size: $pr16;
    padding: $spacer * 0.85  $spacer;
  }

  &__button.btn {
    color: $text-color--light;
    background-color: $btn--default-bg;
    font-size: $pr20;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0;
    border-bottom: 4px solid #df0239;
    padding: $spacer  0  $spacer * 0.85;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.9;
    }

    span {
      display: block;
      opacity: 0.7;
      font-size: $pr14;
      font-weight: 400;
      text-transform: none;
      margin-top: $spacer / 2;
    }
  }
}
