$col-1-bg: #11264c;
$col-2-bg: $secondary-color;

.full-width-cols-wrapper {
  overflow: hidden;
  width: 100%;
}

.full-width-cols {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  color: $light;
  text-align: left;
  line-height: 1.1;
  position: relative;
  overflow: visible;

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
  }

  @include media-breakpoint-up(twok) {
    max-width: 1900px;
    margin: 0 auto;
  }

  &::before {
    @include media-breakpoint-up(twok) {
      content: "";
      background-color: $col-2-bg;
      position: absolute;
      width: 9999px;
      height: 100%;
      left: 100%;
      z-index: 9;
    }
  }

  &::after {
    @include media-breakpoint-up(twok) {
      content: "";
      background-color: $col-1-bg;
      position: absolute;
      width: 9999px;
      height: 100%;
      right: 100%;
      z-index: 9;
    }
  }
}

.fwc--1 {
  background-color: $col-1-bg;
  font-size: $pr55 * 0.65;
  font-family: $primary-font-family;
  font-weight: 700;

  &-40 {
    @include media-breakpoint-up(lg) {
      flex: 0 1 40%;
      max-width: 40%; /* ie11 fix */
      width: 40%;
      font-size: $pr55;
    }
  }
}

.fwc--2 {
  background-color: $col-2-bg;
  font-size: $pr41 * 0.65;
  font-family: $base-font-family;
  position: relative;

  &-60 {
    @include media-breakpoint-up(lg) {
      flex: 0 1 60%;
      max-width: 60%; /* ie11 fix */
      width: 60%;
      font-size: $pr41;
    }
  }
}

.fwc {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacer * 4   $spacer * 2;
  flex: 0 1 100%;
  max-width: 100%; /* ie11 fix */
  width: 100%;

  @include media-breakpoint-up(lg) {
    padding: $spacer * 2   $spacer * 4;
  }

  p {
    line-height: inherit;
    margin: 0;

    strong {
      color: $secondary-color;
    }
  }

  &__list {
    padding-left: 0;
  }

  &__list-item {
    line-height: inherit;
    margin-bottom: $spacer / 3;

    &::before {
      display: none;
    }
  }
}
