$col-1-bg: $secondary-color;

.full-width-cols-cover-wrapper {
  background-color: $light;
}

.full-width-cols-cover {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  color: $light;
  text-align: left;
  line-height: 1.1;

  @include media-breakpoint-up(sm) {
    flex-wrap: nowrap;
  }

  @include media-breakpoint-up(twok) {
    max-width: 1900px;
    margin: 0 auto;
  }
}

.fwcc--1 {
  background-color: $col-1-bg;
  font-size: $pr68 * 0.55;
  font-family: $primary-font-family;
  font-weight: 700;

  &-40 {
    @include media-breakpoint-up(lg) {
      flex: 0 1 40%;
      max-width: 40%; /* ie11 fix */
      width: 40%;
      font-size: $pr68;
    }
  }
}

.fwcc--2 {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;

  @include media-breakpoint-up(sm) {
    background-size: cover;
  }

  &-60 {
    @include media-breakpoint-up(lg) {
      flex: 0 1 60%;
      max-width: 60%; /* ie11 fix */
      width: 60%;
    }
  }
}

.fwcc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 100%;
  max-width: 100%; /* ie11 fix */
  width: 100%;
  padding: $spacer * 4   $spacer * 2;

  p {
    line-height: inherit;
    margin: 0;
  }

  @include media-breakpoint-up(md) {
    padding: $spacer * 5   $spacer * 3;
  }

  @include media-breakpoint-up(xl) {
    padding: $spacer * 10   $spacer * 7;
  }
}
