$grey-box-bg: #e6e8ee;

.grey-box {
  background-color: $grey-box-bg;
  font-family: $primary-font-family;
  font-size: $pr29 * 0.75;
  font-weight: 700;
  padding: $spacer * 1.5;
  margin-top: $spacer;

  @include media-breakpoint-up(md) {
    font-size: $pr29;
    margin-top: $spacer * 3;
    padding: $spacer * 5;
  }

  &--first-part {
    padding-bottom: $spacer * 1;

    @include media-breakpoint-up(md) {
      padding-bottom: $spacer * 2.5;
    }
  }

  &--second-part {
    margin-top: 0;
    margin-bottom: $spacer * 2.5;
    padding-top: $spacer * 1.5;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 5;
      padding-top: $spacer * 3;
    }
  }

  &__title {
    color: $secondary-color;
    font-size: $pr37 * 0.75;

    @include media-breakpoint-up(md) {
      font-size: $pr37;
    }
  }

  &__image {
    margin: 0 auto;
  }
}
