$image-container-height: 160px; // Value of highest image

.icons-titles {
  margin-bottom: $spacer * 1.5;

  @include media-breakpoint-up(md) {
    margin-bottom: $spacer * 4;
  }
}

.row--ico-title {
  text-align: center;
}

.ico-title {
  &__image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-up(md) {
      align-items: flex-end;
      height: $image-container-height;
    }
  }

  &__text {
    color: $dark-blue-color;
    font-family: $primary-font-family;
    font-size: $pr31 * 0.75;
    margin-top: $spacer;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;

    @include media-breakpoint-up(md) {
      font-size: $pr31;
      margin-top: $spacer * 3;
      margin-bottom: 0;
      max-width: none;
    }

    span {
      width: 100%;
      white-space: pre-line;
    }
  }
}
