// Some basic padding for all wrappers
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  box-sizing: border-box;
  text-align: center;
  background-color: $body-color;
}

.section {
  overflow: hidden;
  position: relative;
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
  font-size: $pr25 * 0.75;

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 5;
    font-size: $pr25;
  }
}
