ul {
  list-style-type: none;
  text-align: left;
  margin-bottom: $spacer * 1.5;

  li {
    margin-bottom: $spacer;
    line-height: 1.2;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background: url(../images/purple-bullet.png) no-repeat 0  $spacer / 2  scroll;
      background-size: 10px;
      width: 100%;
      height: 100%;
      display: inline-block;
      left: - $spacer * 2;

      @include media-breakpoint-up(md) {
        background-position: 0  $spacer / 2;
        background-size: 15px;
      }
    }
  }
}

.list {
  &__item {
    font-size: $pr50 * 0.65;
    margin-bottom: $spacer * 1.5;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 2;
    }

    @include media-breakpoint-up(lg) {
      font-size: $pr50;
      margin-bottom: $spacer * 3;
    }

    &--large::before {
      background-position: 0  $spacer / 2;
      background-size: 15px;
      left: - $spacer * 2.5;

      @include media-breakpoint-up(lg) {
        background-position: 0  $spacer;
        background-size: 25px;
      }
    }
  }
}
