.logo {
  // background-image: url(../images/foundr.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: scroll;
  background-size: contain;
  width: 174px; // original
  height: 44px; // original
  margin: 0 auto;
  white-space: nowrap;
  text-indent: -9999px;
  display: block;

  &--hero {
    width: 100px;
    height: 25px;
  }

  &--footer {
    width: 80px;
    height: 20px;
    margin-bottom: $spacer;
  }

  &--header {
    background-image: url(../images/foundr-logo--purple.png);
    margin-top: $spacer;
    margin-bottom: $spacer * 1.5;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}
