.login {
  margin-top: $spacer / 2;
  color: $light;
  font-size: $pr16;
  margin-bottom: 0;

  &__link {
    color: #a3a4a8;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
