$package-text-color: #010101;
$plus-color: #24d97f;

.packages {
  margin: $spacer * 4  0 $spacer * 2;
  float: left;
  width: 100%;

  @include media-breakpoint-up(md) {
    margin: $spacer * 15  0  $spacer * 7;
  }
}

.package {
  border: 1px solid #7b8a90;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  margin-top: 0;
  background-color: #fff;
  width: 30%;
  float: left;
  box-sizing: border-box;
  padding: $spacer * 3  $spacer * 1.5;

  @include media-breakpoint-down(lg) {
    width: 100%;
    margin-bottom: $spacer * 2;
    padding: $spacer * 2  $spacer * 1;
  }

  &__title {
    color: $package-text-color;
    font-family: $base-font-family;
    font-size: $pr35 * 0.75;
    text-transform: uppercase;
    border-bottom: 1px solid $package-text-color;
    position: relative;
    padding-bottom: $spacer * 1.5;
    line-height: 1;
    letter-spacing: -1px;

    &::after {
      content: "";
      width: 0;
      bottom: 0;
      height: 0;
      border-style: solid;
      border-width: 25px 25px 0 25px;
      border-color: $secondary-color transparent transparent transparent;
      position: absolute;
      left: calc(50% - 25px);
      top: 100%;
    }

    @include media-breakpoint-up(md) {
      font-size: $pr35;
    }
  }

  &__text {
    color: $package-text-color;
    font-family: $primary-font-family;
    font-size: $pr28 * 0.75;

    @include media-breakpoint-up(md) {
      font-size: $pr28;
    }
  }

  &__image {
    //
  }

  &__price {
    font-family: $primary-font-family;
    font-size: $pr86 * 0.75;
    font-weight: 700;
    color: $dark-blue-color;

    span {
      color: $secondary-color;
    }

    @include media-breakpoint-up(md) {
      font-size: $pr86;
    }
  }

  &__footer {
    background-color: #dadddf;
    padding: $spacer * 1.5  0;
  }

  &__btn {
    color: $dark;
    background: transparent;
    border: 4px solid $dark-blue-color;
    border-radius: 40px;
    display: inline-block;
    font-family: $primary-font-family;
    font-size: $pr21 * 0.75;
    text-transform: uppercase;
    padding: $spacer * 0.75  $spacer * 2;
    margin: 0;

    @include media-breakpoint-up(md) {
      font-size: $pr21;
    }

    &:hover,
    &:focus,
    &:active {
      background: $dark-blue-color;
      color: $light;
      outline: none;
    }
  }

  &:hover {
    background-color: #e8e8e8;
  }

  &--featured {
    background-color: #f2eeea;
    width: 40%;
    border-color: #03202b;
    border-width: 2px;
    margin-top: - $spacer * 6;
    padding-top: $spacer * 2;

    @include media-breakpoint-down(lg) {
      width: 100%;
      margin-top: 0;
    }

    .package__title {
      background-color: $dark-blue-color;
      color: $light;
      padding: $spacer * 1.5  0;
      z-index: 5;
      border: 0;

      &::before {
        content: "";
        position: absolute;
        background-color: $dark-blue-color;
        width: 116%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: -8%;
      }

      span {
        color: $plus-color;
      }
    }

    .package__text {
      padding: 0  $spacer;

      @include media-breakpoint-up(md) {
        padding: 0  $spacer * 4;
      }
    }

    .package__image {
      margin-bottom: $spacer * 2;
    }

    .package__footer {
      background-color: #dad9d6;
    }

    .package__btn {
      color: #e5e8e9;
      background: $dark-blue-color;
      border: 4px solid $dark-blue-color;

      &:hover,
      &:focus,
      &:active {
        background: transparent;
        color: $dark;
        outline: none;
      }
    }
  }
}
