$close-btn-size: 26px;

.featherlight .featherlight-inner#form {
  display: block;
}

.featherlight .featherlight-content {
  max-width: 95%;
  border-radius: 10px;

  @include media-breakpoint-up(md) {
    margin-left: 0;
    margin-right: 0;
    max-width: 720px;
    max-height: 90%;
    padding: $spacer * 2  $spacer * 4;
    border-bottom: 0;
  }
}

.featherlight:last-of-type {
  background: rgba(0, 0, 0, 0.6);
}

.featherlight .featherlight-close-icon {
  color: $light;
  background-color: $dark;
  border-radius: 60px;
  border: 2px solid $light;
  width: $close-btn-size;
  box-shadow: 0 0 3px 2px lighten($dark, 25%);
  height: $close-btn-size;
  top: $spacer / 2;
  right: $spacer / 2;
  font-size: 11px;
  font-weight: 900;
  line-height: 22px;
}

.popup {
  font-family: $base-font-family;
  text-align: center;
  display: none;

  &__title {
    margin-top: 0;
    margin-bottom: $spacer;
    font-size: $pr26;

    @include media-breakpoint-up(md) {
      font-size: $pr32;
    }
  }

  &__subtitle {
    font-family: $base-font-family;
    font-size: $pr18;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: $spacer;

    @include media-breakpoint-up(md) {
      font-size: $pr23;
    }
  }

  &__image {
    text-align: center;
    margin-bottom: $spacer / 2;
  }
}
