.limited-offer {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: $spacer * 5;

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 7;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 10;
  }

  &__image {
    margin-bottom: $spacer * 2.5;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 5;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: $spacer * 8;
    }
  }
}
