.esc-digital-race {
  .title--blue {
    margin-bottom: $spacer * 1.5;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 3;
    }
  }

  .title--green {
    font-family: $base-font-family;
    text-transform: none;
    text-align: left;
    margin-bottom: $spacer * 2;
  }
}
