.meet-your-instructor {
  padding: $spacer * 5   $spacer * 2;
  background-size: cover;
  overflow: visible;

  @include media-breakpoint-up(md) {
    padding: $spacer * 10   $spacer * 4  $spacer * 15;
  }

  @include media-breakpoint-up(lg) {
    padding: $spacer * 14   $spacer * 4  $spacer * 20;
  }

  @include media-breakpoint-up(twok) {
    background-size: 1900px;
    background-position: center;
  }

  &__title {
    font-family: $base-font-family;
    font-size: $pr50 * 0.65;
    font-weight: 400;
    color: $secondary-color;
    margin-top: 0;

    @include media-breakpoint-up(md) {
      font-size: $pr50;
    }
  }

  &__subtitle {
    font-family: $base-font-family;
    font-size: $pr100 * 0.65;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: $pr100;
    }
  }

  &-2 {
    overflow: visible;
  }
}

.three-images-row {
  margin-top: -($spacer * 5);
  margin-bottom: $spacer * 1.5;

  @include media-breakpoint-up(md) {
    margin-top: -($spacer * 10);
    margin-bottom: $spacer * 3;
  }

  @include media-breakpoint-up(lg) {
    margin-top: -($spacer * 14);
    margin-bottom: $spacer * 3;
  }
}

.story-row {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;

  &__image {
    margin: $spacer / 2;
  }
}
