.kevin {
  .title {
    font-size: $pr65 * 0.75;

    @include media-breakpoint-up(md) {
      font-size: $pr65;
    }
  }

  .green-quote {
    margin-bottom: $spacer * 2;
  }
}

.kevin-row {
  margin-top: 0;

  @include media-breakpoint-up(md) {
    margin-top: $spacer * 2;
  }

  p {
    font-size: $pr27 * 0.75;

    @include media-breakpoint-up(md) {
      font-size: $pr27;
    }
  }
}
