.hero {
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  font-family: $base-font-family;
  font-size: $pr42 * 0.65;
  padding: $spacer * 2 0;

  @include media-breakpoint-up(md) {
    font-size: $pr42;
    padding: $spacer * 2.5  0;
  }

  @include media-breakpoint-up(twok) {
    background-color: #000;
    background-size: 1900px;
    background-position: center;
  }

  p {
    line-height: 1.2;

    span {
      display: block;
    }
  }

  &__title {
    font-size: $pr62 * 0.65;
    text-align: center;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: $pr62;
    }
  }

  &__subtitle {
    font-size: $pr32 * 0.65;
    font-weight: 700;
    margin-top: 0;
    color: $secondary-color;

    @include media-breakpoint-up(md) {
      font-size: $pr32;
    }
  }

  &__lead {
    font-weight: 400;
    font-size: $pr50 * 0.65;
    font-style: italic;
    margin-bottom: $spacer * 1.5;

    @include media-breakpoint-up(md) {
      font-size: $pr50;
      margin-bottom: $spacer * 2.5;
    }
  }
}

.video-row {
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;

  @include media-breakpoint-up(md) {
    margin-top: $spacer * 5;
    margin-bottom: $spacer * 5;
  }
}
