.content-image-intersection {
  p {
    line-height: 1.1;
  }

  .green-text {
    font-size: $pr37 * 0.75;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      font-size: $pr37;
    }
  }

  .purple-arrow-bottom {
    margin-top: $spacer * 2.5;

    @include media-breakpoint-up(md) {
      margin-top: $spacer * 5;
    }
  }
}
