.try-is {
  padding: $spacer * 3  0;

  @include media-breakpoint-up(md) {
    padding: $spacer * 8  0;
  }

  p {
    line-height: 1;
  }

  &--1 {
    font-size: $pr37 * 0.75;

    @include media-breakpoint-up(md) {
      font-size: $pr37;
    }
  }

  &--2 {
    font-size: $pr30 * 0.75;
    padding: $spacer * 2 0;

    @include media-breakpoint-up(md) {
      font-size: $pr30;
      padding-top: $spacer * 5;
      padding-bottom: $spacer * 3;
    }
  }

  &__text {
    margin: $spacer * 2.5  auto;

    @include media-breakpoint-up(md) {
      margin: $spacer * 5  auto;
    }
  }

  &__lead-text {
    color: $secondary-color;
    font-size: $pr45 * 0.75;
    text-transform: uppercase;
    margin: $spacer * 2  0;

    @include media-breakpoint-up(md) {
      font-size: $pr45;
    }
  }

  .btn--is-gradient {
    margin-top: $spacer;
  }

  .purple-arrow-bottom {
    overflow: hidden;
  }
}
