.elearning {
  .title--blue {
    @include media-breakpoint-up(md) {
      font-size: $pr55;
    }
  }

  .font--large {
    font-family: $base-font-family;
    text-transform: none;
    margin-bottom: $spacer;
  }

  .two-cols-border {
    margin: $spacer  0  $spacer * 2;

    @include media-breakpoint-up(md) {
      margin: $spacer * 1.5  0  $spacer * 4;
    }
  }
}
