.is-intro {
  &__title {
    color: $is-color;
    font-family: $base-font-family;
    font-size: $pr57 * 0.65;

    @include media-breakpoint-up(md) {
      font-size: $pr57;
    }
  }

  &__subtitle {
    color: $is-color;
    font-size: $pr37 * 0.65;

    @include media-breakpoint-up(md) {
      font-size: $pr37;
    }
  }

  &__lead {
    color: $dark-blue-color;
    font-size: $pr48 * 0.65;
    font-weight: 400;
    font-style: italic;
    margin-top: 0;
    margin-bottom: $spacer * 2.5;

    @include media-breakpoint-up(md) {
      font-size: $pr48;
    }
  }

  &__logo {
    margin: $spacer * 0.75  0  $spacer * 2;

    @include media-breakpoint-up(md) {
      margin: $spacer  0  $spacer * 3;
    }
  }

  &__devices {
    margin: $spacer  0  0;
  }

  .green-text {
    font-weight: 700;

    &--large {
      font-family: $base-font-family;
      line-height: 1;
      margin: $spacer * 1.5  0;
    }
  }
}
