.bonus-boxes {
  //

  &__title {
    color: $dark-blue-color;
    font-size: $pr58 * 0.65;
    text-transform: uppercase;
    margin-bottom: $spacer * 3;

    @include media-breakpoint-up(md) {
      font-size: $pr58;
      margin-bottom: $spacer * 6;
    }
  }

  &__row {
    //
  }

  &__col {
    flex: 0 1 100%;
    width: 100%;
    max-width: 100%; /* ie11 fix */

    @include media-breakpoint-up(md) {
      flex: 0 1 50%;
      width: 50%;
      max-width: 50%; /* ie11 fix */
      margin-bottom: $grid-spacer * 2;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 1 33.33%;
      width: 33.33%;
      max-width: 33.33%; /* ie11 fix */
    }
  }
}

.bonus-box {
  font-family: $base-font-family;
  font-size: $pr25 * 0.75;
  text-align: center;
  display: flex;
  height: 100%;

  @include media-breakpoint-up(md) {
    font-size: $pr25;
  }

  &__container {
    background-color: $light;
    padding: $spacer * 1.5;

    @include media-breakpoint-up(lg) {
      padding: $spacer * 3;
    }
  }

  &__title {
    color: $secondary-color;
    font-family: $base-font-family;
    font-size: $pr33;
    margin-bottom: $spacer * 1.5;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $dark-blue-color;
    font-family: $base-font-family;
    font-weight: 700;
    font-size: $pr25;
  }

  &--featured {
    height: auto;
    margin-top: $grid-spacer;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }
}
