.no-audience {
  .title {
    font-size: $pr70 * 0.75;
    margin-bottom: $spacer;

    @include media-breakpoint-up(md) {
      font-size: $pr70;
      margin-bottom: $spacer * 4;
    }
  }

  .icon {
    @include media-breakpoint-down(md) {
      max-width: 180px;
    }

    &--follower {
      @include media-breakpoint-up(lg) {
        margin-top: - $spacer * 3;
      }
    }
  }
}
