.guarantee {
  overflow: visible;
  //
  .btn {
    margin-bottom: $spacer * 2;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 4;
    }
  }

  &__image {
    margin-top: - $spacer * 10;
    margin-bottom: $spacer * 4;

    @include media-breakpoint-up(md) {
      margin-top: - $spacer * 20;
      margin-bottom: $spacer * 7;
    }
  }
}
