$btn--tabs: $secondary-color;

.tabs {
  padding-top: 0;
  padding-bottom: $spacer * 10;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer * 20;
  }

  &__title {
    font-size: $pr70 * 0.65;
    padding: $spacer * 5  0;
    margin: 0;

    @include media-breakpoint-up(md) {
      font-size: $pr70;
    }

    &-container {
      background-color: $dark-blue-color;
      color: $text-color--light;
    }
  }

  &__content {
    display: none;
    background-color: $light;
    overflow: hidden;
    padding: $spacer * 2  $spacer;

    @include media-breakpoint-up(md) {
      padding: $spacer * 4  $spacer * 2;
    }

    @include media-breakpoint-up(lg) {
      padding: $spacer * 4  $spacer * 7;
    }

    h2 {
      color: $dark-blue-color;
      font-family: $base-font-family;
      font-size: $pr50 * 0.75;
      font-weight: 700;

      @include media-breakpoint-up(md) {
        font-size: $pr50;
      }
    }

    .green-text {
      text-align: left;
      font-weight: 700;
      margin-bottom: $spacer / 2;
    }

    // li::before {
    //   background: url(../images/purple-bullet.png) no-repeat 0  $spacer / 2  scroll;
    //   background-size: 10px;
    //
    //   @include media-breakpoint-up(md) {
    //     background-position: 0  $spacer / 2;
    //     background-size: 15px;
    //   }
    // }
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include media-breakpoint-up(lg) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    @at-root {
      .btn--#{tabs} {
        background-color: $btn--tabs;
        display: flex;
        border-radius: 0;
        font-size: $pr25 * 0.75;
        padding: $spacer * 1.3  $spacer * 1;
        margin: $spacer  $spacer;
        flex: 0;

        @include media-breakpoint-up(md) {
          font-size: $pr25;
          padding: $spacer * 1.3  $spacer * 2;
          margin: $spacer  0  0  $spacer;
        }

        @include media-breakpoint-up(lg) {
          flex: 1;
        }

        @include media-breakpoint-up(xl) {
          padding: $spacer * 1.3  $spacer * 3;
        }

        &:first-child {
          margin-left: $spacer;

          @include media-breakpoint-up(md) {
            margin-left: 0;
          }
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
          background-color: $purple-color;
        }
      }
    }
  }
}
