$testimonials-font-family: 'Big Caslon Medium', serif;

.testimonials {
  background-color: #000;
  padding-bottom: 0;

  &__title {
    font-family: $primary-font-family;
    font-weight: 300;
    font-size: $pr42 * 0.65;
    text-transform: uppercase;
    margin-bottom: $spacer * 0.5;

    @include media-breakpoint-up(md) {
      font-size: $pr42;
      margin-bottom: $spacer * 2;
    }
  }

  &__row {
    align-items: center;

    @include media-breakpoint-up(md) {
      margin-top: $spacer * 3;
    }
  }

  &__image {
    max-width: 280px;

    @include media-breakpoint-up(md) {
      max-width: 100%;
    }
  }

  &__quote {
    padding: 0;
    margin: 0;
    font-family: $testimonials-font-family;
    font-size: $pr45 * 0.65;
    font-weight: 200;
    text-align: center;

    p {
      line-height: 1.1;
    }

    @include media-breakpoint-up(md) {
      font-size: $pr45 * 0.75;
      text-align: left;
    }

    @include media-breakpoint-up(lg) {
      font-size: $pr45;
    }
  }

  &__name {
    font-size: $pr33 * 0.65;

    @include media-breakpoint-up(md) {
      font-size: $pr33;
    }
  }

  &__video-container {
    position: relative;
    width: 100%;

    &::before {
      content: "";
      background-color: $light;
      height: 50%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }

    &::after {
      content: "";
      background-color: $dark;
      height: 50%;
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
