.font-arvo {
  font-family: Arvo, sans-serif !important;
}

.font-poppins {
  font-family: Poppins, sans-serif !important;
}

p {
  margin-top: 0;
  margin-bottom: $spacer * 1.5;
  line-height: 1.4;
}

h1 {
  font-family: $base-font-family;
  font-weight: 900;
  font-size: $h1-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: $h2-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: $h3-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
  }
}

h4 {
  font-size: $h4-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
  }
}

h5 {
  font-size: $h5-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h5-font-size;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: $headings-margin-top;
  font-family: $primary-font-family;

  span {
    display: block;
  }
}

.section-title {
  font-size: $pr30;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: $spacer;

  @include media-breakpoint-up(md) {
    font-size: $pr50;
    margin-bottom: $spacer * 2;
    line-height: 1.6;
  }
}

.lead {
  font-family: $primary-font-family;
  margin-top: 0;
  line-height: normal;

  span {
    display: block;
    font-style: italic;

    @include media-breakpoint-up(md) {
      font-style: normal;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: $pr20;
  }
}

.disclaimer {
  font-size: $pr12;

  @include media-breakpoint-up(md) {
    line-height: 1.4;
  }
}

.green-quote {
  font-size: $pr37 * 0.75;
  color: $secondary-color;
  margin-bottom: 0;
  font-weight: 700;
  line-height: normal;

  @include media-breakpoint-up(md) {
    font-size: $pr37;
  }
}

.title {
  &--green {
    color: $secondary-color;
    font-size: $pr30 * 0.65;
    text-transform: uppercase;
    margin-bottom: $spacer * 2;

    @include media-breakpoint-up(md) {
      font-size: $pr30;
      margin-bottom: $spacer * 3;
    }
  }

  &--blue {
    font-family: $primary-font-family;
    color: $dark-blue-color;
    font-size: $pr50 * 0.65;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      font-size: $pr50;
      margin-bottom: $spacer * 2;
    }
  }

  &--foundr-started {
    color: $dark-blue-color;
    font-family: $base-font-family;
    font-size: $pr50 * 0.65;
    margin-bottom: 0;
    line-height: 1;

    @include media-breakpoint-up(md) {
      font-size: $pr50;
    }
  }
}

.subtitle {
  &--foundr-started {
    color: $dark-blue-color;
    font-family: $base-font-family;
    font-size: $pr70;
    line-height: 1;
    margin-top: 0;
    margin-bottom: $spacer * 2;

    strong {
      color: $purple-color;
    }

    @include media-breakpoint-up(md) {
      font-size: $pr187;
      margin-bottom: $spacer * 5;
    }
  }
}

.font--large {
  font-size: $pr83 * 0.65;

  @include media-breakpoint-up(md) {
    font-size: $pr83;
  }
}

.green-text {
  color: $secondary-color;

  &--large {
    font-family: $base-font-family;
    font-size: $pr37 * 0.75;

    @include media-breakpoint-up(md) {
      font-size: $pr37;
    }
  }
}
