.container {
  padding-left: $grid-spacer;
  padding-right: $grid-spacer;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    max-width: 720px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }

  &--1400 {
    @include media-breakpoint-up(xl) {
      max-width: 1400px;
    }
  }

  &--1500 {
    @include media-breakpoint-up(xl) {
      max-width: 1500px;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$grid-spacer;
  margin-left: -$grid-spacer;
  box-sizing: border-box;

  @include create-narrow-row(90);
  @include create-narrow-row(80);
  @include create-narrow-row(70);
  @include create-narrow-row(60);
  @include create-narrow-row(55);
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: $grid-spacer;
  padding-left: $grid-spacer;
  padding-bottom: $grid-spacer;
  box-sizing: border-box;

  @include media-breakpoint-up($columns-breakpoint) {
    padding-bottom: 0;
  }

  &--double-gap {
    padding-right: $grid-spacer;
    padding-left: $grid-spacer;

    @include media-breakpoint-up($columns-breakpoint) {
      padding-right: $grid-spacer * 2;
      padding-left: $grid-spacer * 2;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }

  &--10 {
    @include media-breakpoint-up($columns-breakpoint) {
      flex: 0 1 90%;
      width: 90%;
      max-width: 90%; /* ie11 fix */
    }
  }

  &--9 {
    @include media-breakpoint-up($columns-breakpoint) {
      flex: 0 1 75%;
      width: 75%;
      max-width: 75%; /* ie11 fix */
    }
  }

  &--8 {
    @include media-breakpoint-up($columns-breakpoint) {
      flex: 0 1 66.66667%;
      width: 66.66667%;
      max-width: 66.66667%; /* ie11 fix */
    }
  }

  &--7 {
    @include media-breakpoint-up($columns-breakpoint) {
      flex: 0 1 58.33333%;
      width: 58.33333%;
      max-width: 58.33333%; /* ie11 fix */
    }
  }

  &--6 {
    @include media-breakpoint-up($columns-breakpoint) {
      flex: 0 1 50%;
      width: 50%;
      max-width: 50%; /* ie11 fix */
    }

    &-lg {
      @include media-breakpoint-up(lg) {
        flex: 0 1 50%;
        width: 50%;
        max-width: 50%; /* ie11 fix */
      }
    }
  }

  &--5 {
    @include media-breakpoint-up($columns-breakpoint) {
      flex: 0 1 41.66667%;
      width: 41.66667%;
      max-width: 41.66667%; /* ie11 fix */
    }
  }

  &--4 {
    @include media-breakpoint-up($columns-breakpoint) {
      width: 33.33333%;
      flex: 0 1 33.33333%;
      max-width: 33.33333%; /* ie11 fix */
    }
  }

  &--3 {
    @include media-breakpoint-up($columns-breakpoint) {
      width: 25%;
      flex: 0 1 25%;
      max-width: 25%; /* ie11 fix */
    }
  }

  &--2 {
    @include media-breakpoint-up($columns-breakpoint) {
      width: 10%;
      flex: 0 1 10%;
      max-width: 10%; /* ie11 fix */
    }
  }
}
