.no-padding {
  padding: 0 !important;

  &-bottom {
    padding-bottom: 0 !important;
  }

  &-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.greater-spacing {
  margin: $spacer * 2  0;

  @include media-breakpoint-up(md) {
    margin: $spacer * 5  0;
  }
}

.no-margin {
  margin-bottom: 0 !important;
}

.center-cols {
  justify-content: center;
}

.switch-two-cols-md {
  .col:first-child {
    order: 2;
  }

  .col:last-child {
    order: 1;
  }

  @include media-breakpoint-up(md) {
    .col:first-child {
      order: 1;
    }

    .col:last-child {
      order: 2;
    }
  }
}

.mb {
  @include create-margin-bottom(1);
  @include create-margin-bottom(2);
  @include create-margin-bottom(3);
}

.mt {
  @include create-margin-top(2);
  @include create-margin-top(3);
}

.top-primary-border {
  border-top: 1px solid $primary;
}

.section--dark {
  color: $text-color--light;

  .section-title {
    color: $text-color--light;
  }
}

.section--light {
  color: $text-color--dark;
  background-color: $light;
}

.section--grey {
  color: $text-color--dark;
  background-color: #e9edf5;
}

.section--blue {
  color: #fff;
  background-color: #274771;
}

.section--dark-blue {
  color: #fff;
  background-color: #1b3d69;
}

.shadow {
  box-shadow: 0 0 8px -3px #000;
}

.line-break {
  display: block;
}

.text-left-md {
  @include text-left('md', 'center');
}

.text-right-md {
  @include text-right('md', 'center');
}

.text-center {
  text-align: center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-space-between {
  justify-content: space-between;
  display: flex;
}

.flex-space-evenly {
  justify-content: space-evenly;
  display: flex;
}

.flex-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hide-on-desktop-md {
  @include hide-on-desktop(md, 'block');
}

.hide-on-mobile-md {
  @include hide-on-mobile(md, 'block');
}

.hide-on-desktop-md-inline-b {
  @include hide-on-desktop(md, 'inline-block');
}

.hide-on-mobile-md-inline-b {
  @include hide-on-mobile(md, 'inline-block');
}
