// Colors
$primary: #43abe8;
$secondary: #fff;
$secondary-color: #19bcc5;
$dark-blue-color: #36567f;
$purple-color: #b08dfe;
$is-color: #0c0140;
$link-color: #00e;
$light: #fff;
$dark: #000;
$bg--dark: $dark;
$bg--light: $light;
$text-color--light: $light;
$text-color--dark: $dark;
$text-color--primary: $primary;
$body-color: #676767;
$btn--default-bg: $purple-color;
$section-title-color: #2d2d2d;
$shadow-color: #bbb;
$footer-bg: $light;
$footer-text-color: #2f2f2f8a;
$footer-link-color: #787c80;
$intro-subtitle-color: #57616b;

// Buttons
$btn-font-weight: 400;
$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;

// Breakpoints
$breakpoints: (
  xs: 0,
  iphone6: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  twok: 2000px,
);

// Layout
$spacer: 1rem;
$grid-spacer: 15px;
$columns-breakpoint: 'md';

// Typo
$base-font-family: 'Helvetica', sans-serif;
$primary-font-family: 'Poppins', sans-serif;
$font-size-base: 1rem; // 1rem stands for around 16px
$line-height-base: 1.7;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h1-font-size-mobile: $h1-font-size * 0.85;
$h2-font-size-mobile: $h2-font-size * 0.85;
$h3-font-size-mobile: $h3-font-size * 0.85;
$h4-font-size-mobile: $h4-font-size * 0.85;
$h5-font-size-mobile: $h5-font-size * 0.85;
$headings-margin-bottom: $spacer;
$headings-margin-top: $spacer / 2;
