<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Infinite Scale <%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="Infinite Scale">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="icon" href="<%=require('./images/favicon-32x32.png')%>" sizes="any" type="image/png">
</head>
<body>
  <article>
    <section
      class="section section--blue hero"
      style="background-image: url(<%=require('./images/nathan-hero.jpg')%>)">
      <header class="header">
        <div class="container">
          <div class="row">
            <div class="col col--6">
              <h1 class="logo logo--header">Foundr</h1>
            </div>
            <div class="col col--6">
              <a href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform" class="btn btn--default">JOIN NOW</a>
              <p class="login">Member Already? <a class="login__link" href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform">Sign in</a></p>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="row row--narrow-70">
          <div class="col">
            <h2 class="hero__subtitle font-arvo">For New Entrepreneurs Wanting To Build A Lasting Online Business & Community….</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3 class="hero__title font-poppins">Ditch The 9-5. Work From
                                    Anywhere. Do What You Love.
                                    Turn Your Existing Knowledge
                                    Into A Six-Figure Digital
                                    Products Business.</h3>
          </div>
        </div>
        <div class="row row--narrow-70 video-row">
          <div class="col">
            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
              <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                <iframe
                  style="height:100%;position:relative;width:100%"
                  src="//fast.wistia.net/embed/iframe/ge3u1cee4c?videoFoam=true"
                  allowtransparency="true"
                  frameborder="0"
                  scrolling="no"
                  class="wistia_embed"
                  name="wistia_embed"
                  allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen
                  width="640"
                  height="360">
                </iframe>
              </div>
            </div>
          </div><!-- /col -->
        </div>
        <div
          class="row row--narrow-80"
          style="justify-content: center; flex-direction: column">
            <p class="hero__lead font-arvo">Join the thousands of others who
                                  are ditching their 9-to-5’s by
                                  tapping into the booming
                                  <span><strong>$325 billion dollar</strong></span>
                                  E-Learning Industry.</p>
            <p>Stop trading time for money and instead:</p>
            <p>“Go Evergreen”: Create a digital product once and leverage it for a lifetime!</p>
            <span class="purple-arrow-bottom"></span>
        </div>
      </div>
    </section><!-- /hero -->
    <section class="section section--light trusted-by">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="title title--green font-poppins">Trusted By & Featured In:</h2>
            <div class="brands">
              <div class="brands__item">
                <img src="<%=require('./images/Logo-Inc.png')%>" data-srcset="" alt="" width="145" height="50" />
              </div>
              <div class="brands__item">
                <img src="<%=require('./images/Logo-Forbes.png')%>" data-srcset="" alt="" width="180" height="47" />
              </div>
              <div class="brands__item">
                <img src="<%=require('./images/Logo-Esquire.png')%>" data-srcset="" alt="" width="258" height="63" />
              </div>
              <div class="brands__item">
                <img src="<%=require('./images/Logo-Chicago Tribune.png')%>" data-srcset="" alt="" width="292" height="44" />
              </div>
            </div><!-- /brands -->
          </div><!-- /col -->
        </div>
      </div>
      <div class="full-with-row">
        <img src="<%=require('./images/circle-people-row.jpg')%>" data-srcset="" alt="" width="1477" height="345" />
      </div><!-- /full-with-row -->
      <div class="full-with-row">
        <img src="<%=require('./images/circle-people-row.jpg')%>" data-srcset="" alt="" width="1477" height="345" />
      </div><!-- /full-with-row -->
    </section><!-- /trusted-by -->
    <section class="section section--grey elearning">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row row--narrow-90">
              <div class="col">
                <h2 class="title title--blue">Discover The $325 Billion Dollar Industry Forbes Is Calling <span>“The Future”</span></h2>
              </div><!-- /col -->
            </div>
            <h3 class="title title--green font--large">E-learning.</h3>
            <p>If you’re reading this then you’re probably already familiar with it.</p>
            <p>From online courses to corporate training and everything in between, this is one
            of the hottest industries throughout the world with absolutely no
            signs of slowing down.</p>
            <p>Put simply, it’s the packaging and selling of your unique knowledge or skills.</p>
            <p><strong>But consider this…</strong></p>
          </div><!-- /col -->
        </div>
        <div class="row two-cols-border">
          <div class="col col--3">
            <img src="<%=require('./images/lynda.jpg')%>" data-srcset="" alt="" width="261" height="345" />
          </div><!-- col -->
          <div class="col col--9">
            <div class="border-box">
              <p>In April of 2015 (more than 4 years ago now!) the e-learning
                market was nowhere near as hot as it is today, but it was still
                able to catapult a fairly unknown woman into the 55th spot
                on Forbes. “America’s Richest Self-Made Women List”.</p>
              <p>Lynda Weinman had been successfully making her living teaching web design
                to non-techies by turning her unique knowledge into a dream business</p>
            </div>
          </div><!-- col -->
        </div>
        <div class="row row--narrow-90">
          <div class="col">
            <p>Seeing the massive demand for this new <strong>“knowledge economy”</strong> she launched
              an online platform allowing entrepreneurs to sell their own online courses.
              Similar to how she’d gotten her start, yet she’d now just made it even
              easier for the normal person to turn their passions into profits.</p>
            <p>She named that business after herself, Lynda.com, and went on to be
              acquired by LinkedIn at a cool <strong>1.5 billion!</strong> And that was <strong>more than 4 years ago!</strong></p>
            <p>Then just one year later in June of 2016, Microsoft acquired LinkedIn for
              <strong class="line-break">$26.2 billion!</strong></p>
            <p>Again that was 3 years ago. Which in the “tech world” is like a decade.
              But since then this industry has only <strong>continued to pick up speed year after year.</strong></p>
            <p>In fact, here’s a snippet from a recent <strong>Forbes</strong> article:</p>
            <p>All this means is that you’re smack dab in the middle of one of the biggest
              waves of online opportunity that “everyday people” are surfing right out
              of their 9-to-5’s and onto the sunny shores of passion-filled paradise type businesses.</p>
            <p>Sometimes riding the “right wave” can be the fastest and easiest path to profits.</p>
          </div><!-- /col -->
        </div>
      </div>
    </section><!-- /elearning -->
    <div class="full-width-cols-wrapper">
      <section class="section full-width-cols">
        <div class="fwc fwc--1 fwc--1-40">
          <p>
          So if you’re a <strong>new entrepreneur</strong> who
          perks up at the
          thought of:
          </p>
        </div>
        <div class="fwc fwc--2 fwc--2-60">
          <ul class="fwc__list">
            <li class="fwc__list-item">• running an online business
            from anywhere in the world</li>
            <li class="fwc__list-item">• having complete control
            of your time</li>
            <li class="fwc__list-item">• and the freedom to be
            your own boss</li>
          </ul>
        </div>
      </section><!-- /full-width-cols -->
    </div><!-- /full-width-cols-wrapper -->
    <section class="section section--light combined-section combined-section--1">
      <div class="container">
        <div class="row row--narrow-80">
          <div class="col">
            <p>...all while turning your skills, passions, and unique knowledge
              into insanely valuable digital products you can create once and
               leverage for a lifetime…</p>
            <p>...what I have to share with you below could quite literally change your
            life forever.</p>
            <p>(I know first hand because Foundr is one of these kinds of businesses!)</p>
          </div><!-- /col -->
        </div>
      </div>
    </section><!-- combined-section -->
    <section class="section section--grey combined-section combined-section--2">
        <div class="container">
          <div class="row center-cols">
            <div class="col col--10">
              <div class="combined-section combined-section--intersection section--dark">
                <h2 class="title title--green">So What Exactly Is <span>A Digital Product?</span></h2>
                <p>Digital products can mean a lot of things, but in this case we’re
                  specifically referring to things like online courses, ebooks,
                  digital magazines, and even coaching!</p>
                <h3>Essentially any content-based product where you can package up your
                  unique knowledge and sell it.</h3>
                <p>Over the last few years there’s been a massive shift from the
                  <strong>“information economy”</strong> to the current <strong>“knowledge economy”</strong>. People now
                  prefer packaged up insights instead of endlessly drowning from
                  information overload. </p>
                <p>They’re paying for problems to be solved not just more pieced together
                  and outdated content they can find “for free” online. They know that a
                  lways chasing free can actually be the most expensive thing they do.</p>
                <p>So being a digital product entrepreneur has taken the business world
                   by storm for a number of undeniable reasons…</p>
               </div><!-- /combined-section--intersection -->
             </div><!-- /col -->
          </div>
          <div class="row">
            <div class="col">
              <h2 class="title title--blue">6 Catalysts Behind The <span>“Digital Product Revolution”</span></h2>
            </div>
          </div>
          <div class="row row--icon-text">
            <div class="col col--3">
              <img class="icon" src="<%=require('./images/i1.png')%>" data-srcset="" alt="" width="209" height="175" />
            </div>
            <div class="col col--9 text-left-md">
              <h3>1: Turn Passion Into Business</h3>
              <p>Whether you love yoga, photography, or even just the entrepreneurship
                space in general -- hello Foundr! -- you can build a
                business around almost any kind of passion or skill selling digital products.</p>
              <p>The days of having to simply settle “chasing money” are over.
                Instead you can now do work you love and watch as the money chases
                your passion-filled digital products.</p>
              <p><strong>“The only way to do great work is to love what you do.
              If you haven’t found it yet keep looking. Don’t settle.”</strong> - Steve Jobs<p>
              <p>It’s exactly how I started Foundr, so stay tuned and I’ll share it with you...<p>
            </div><!-- /col -->
          </div>
          <div class="row row--icon-text">
            <div class="col col--3">
              <img class="icon" src="<%=require('./images/i2.png')%>" data-srcset="" alt="" width="169" height="193" />
            </div>
            <div class="col col--9 text-left-md">
            <h3>2: Quick & Easy Production</h3>
            <p>Did you know there are legit six-figure businesses that
              use nothing more than the phone you’re probably reading this
              on to create all of their paid content! Seriously, you’re
              already carrying a viable film studio around in your pocket!</p>
            <p>People are getting paid thousands to create trainings they
              record straight from their dang phone teaching on things they
               love. Talk about a dream business!</p>
            <p>So for creating digital products, everything you need you already have.
               And once you learn the right way to do it, you can actually
               create what I call “multi-purpose content assets” that can be
               leveraged as free lead magnets to build your list and
               as pieces of your high priced paid content.</p>
           </div><!-- /col -->
        </div>
        <div class="row row--icon-text">
          <div class="col col--3">
            <img class="icon" src="<%=require('./images/i3.png')%>" data-srcset="" alt="" width="170" height="190" />
          </div>
          <div class="col col--9 text-left-md">
            <h3>3: High Profit & Price Flexibility</h3>
            <p>In business (especially when just starting out) profit margins matter...a lot!
              It can be the life or death of even the greatest of ideas. At the end of the
              day you need cash (profits) to survive, grow, and actually enjoy the business
              you’re building.</p>
            <p>Since digital products cost almost nothing to create (just use your smartphone!)
               and don’t need to be shipped or stored in some expensive warehouse or office,
               these products have the highest profit margin of nearly anything we’ve seen!</p>
            <p>Plus they’re incredibly price flexible. From $7 to $7,000 and everything
              in between. We’ve learned at Foundr (after having over 100,000 paying customers
               and our teams experience producing nearly 100 successful online courses) that
               success is rarely about “being cheap”.</p>
            <p>Above all, your prospects want their problems solved. They want value.
              When you overdeliver in the right way, your customers become lifelong fans
              and buy courses, coaching, and nearly anything else you produce. Even for
              thousands of dollars.</p>
          </div><!-- /col -->
        </div>
        <div class="row row--icon-text">
          <div class="col col--3">
            <img class="icon" src="<%=require('./images/i4.png')%>" data-srcset="" alt="" width="165" height="192" />
          </div>
          <div class="col col--9 text-left-md">
            <h3>4: Can Be Evergreen</h3>
            <p>One of the things we’ve mastered at Foundr (after serious trial and error)
              is our formula for producing “evergreen” content. This allows you to create
              your digital products in such a way so that there’s little to no changes
              even years down the road. Even in a world that’s constantly changing!</p>
            <p>That’s why we always say “create it once and leverage it for a lifetime!”.</p>
            <p>And it’s how to finally stop trading time for money. You can make doctor money
               (and more!) without the doctor hours, headaches, and mountains of debt.</p>
          </div><!-- /col -->
        </div>
        <div class="row row--icon-text">
          <div class="col col--3">
            <img class="icon" src="<%=require('./images/i5.png')%>" data-srcset="" alt="" width="207" height="238" />
          </div>
          <div class="col col--9 text-left-md">
            <h3>5: Perfect “Side Hustle” Or First Online Business</h3>
            <p>Starting a new business is really all about risk reduction.
            How can you effectively stack the deck in your favor and “test”
            your idea in such a way as to minimize any potential losses.</p>
            <p>That’s why so many first time entrepreneurs find first time success
              in a digital products business. The products are quick and easy to
              create, plus they go into the business already passionate about
              what they’re teaching about (90% of the secret!).</p>
            <p>It doesn’t require time while they’re at work.</p>
            <p>It doesn’t require unexpected investment that they don’t have.</p>
            <p>It doesn’t require them to be “all or nothing” having to bet the farm that it’ll work.</p>
          </div><!-- /col -->
        </div>
        <div class="row row--icon-text">
          <div class="col col--3">
            <img class="icon" src="<%=require('./images/i6.png')%>" data-srcset="" alt="" width="137" height="137" />
          </div>
          <div class="col col--9 text-left-md">
            <h3>6: Infinite Scale</h3>
            <p>Lastly, since there’s no physical inventory, shipping costs, or
              anything like that, you can essentially scale these kinds of businesses
              as much as you want. At Foundr we call this super power “infinite scale”
              because of its insane leverage.</p>
            <p>It’s what allows solo digital product entrepreneurs to hit six-figures
              without bringing on additional team members or needing to take out risky loans.</p>
            </div><!-- /col -->
          </div>
        </div>
      </div><!-- /col -->
    </div>
    </section><!-- /combined-section -->
    <div class="purple-arrow-bottom-intersection-container section--light">
      <span class="purple-arrow-bottom purple-arrow-bottom-intersection"></span>
    </div><!-- /purple-arrow-bottom-intersection-container -->
    <section class="section section--light esc-digital-race">
      <div class="container">
        <div class="row center-cols">
          <div class="col col--10">
            <h2 class="title title--blue">Ordinary People Using Digital<span>Products To Escape The “Rat Race</span></h2>
            <p>As the working landscape continues to transform and jobs get
              eaten up by technology, automation, and lower cost substitutions,
              more than ever people are looking for side hustles to supplement
              or completely replace their current income.</p>
            <p>The light bulbs have gone off: “job security” doesn’t exist anymore.</p>
            <p>No matter how much your current company promises you it does.
              Often times outside forces dictate inside decisions and even
              the best of the best are cut loose without rhyme or reason.
              It may have already happened to you before.</p>
            <p>In this new economy, <strong>you are you’re own job security now.</strong>
              Your skills. Your unique knowledge. Your ability to solve people's problems.</p>
            <p>It’s your choice. You can trade time for money and risk putting
              your future in the hands of someone else and pray they run their own business well…</p>
            <p><strong>...or you can learn the art of digital product creation!</strong></p>
            <p>Luckily this isn’t turning water into wine. Other “ordinary people”
              have already done it. Myself included. It’s really just about
              following the right map to get you where you want to go.</p>
            <p>So no matter your background (I was an IT guy before Foundr)...</p>
            <p>Or whether you’re passionate about graphic design, reading books,
              health and fitness, or anything else you can imagine…</p>
            <p>You can make money while you sleep, while you live remotely,
              and while you’re doing work you love…</p>
            <p><strong>...by turning that passion or unique knowledge into an online course
            or digital product!</strong></p>
          </div><!-- /col -->
        </div>
        <div class="row mt-2">
          <div class="col col--4">
            <div class="flex-center-container">
              <img src="<%=require('./images/Entrepreneur.jpg')%>" data-srcset="" alt="" width="246" height="93" />
            </div>
          </div><!-- /col -->
          <div class="col col--8">
            <h3 class="title title--green">From Entrepreneur Magazine:</h3>
            <img src="<%=require('./images/es.jpg')%>" data-srcset="" alt="" width="834" height="135" />
          </div><!-- /col -->
        </div>
        <div class="row mt-2">
          <div class="col col--4">
            <div class="flex-center-container">
              <img src="<%=require('./images/Logo-Forbes.png')%>" data-srcset="" alt="" width="231" height="61" />
            </div>
          </div><!-- /col -->
          <div class="col col--8">
            <h3 class="title title--green">From Forbes:</h3>
            <img src="<%=require('./images/fs.jpg')%>" data-srcset="" alt="" width="832" height="199" />
          </div><!-- /col -->
        </div>
        <div class="row mt-2 mb-3">
          <div class="col col--4">
            <div class="flex-center-container">
              <img src="<%=require('./images/Business_Insisder.jpg')%>" data-srcset="" alt="" width="266" height="121" />
            </div>
          </div><!-- /col -->
          <div class="col col--8">
            <h3 class="title title--green">From Business Insider:</h3>
            <img src="<%=require('./images/bs.jpg')%>" data-srcset="" alt="" width="828" height="129" />
          </div><!-- /col -->
        </div>
        <div class="row center-cols">
          <div class="col col--10">
            <p>But for the record, this IS NOT some “get rich quick” kind of opportunity.
              Even if others are ok selling that sort of thing. Like anything worthwhile, this takes work.</p>
            <p>And as someone who’s gone from side hustle to a multi-million dollar
              brand using this business model, I believe there are a few warnings most others skip right by…</p>
          </div><!-- /col -->
        </div>
      </div>
    </section><!-- /esc-digital-race -->
    <div class="purple-arrow-bottom-intersection-container section--grey">
      <span class="purple-arrow-bottom purple-arrow-bottom-intersection"></span>
    </div><!-- /purple-arrow-bottom-intersection-container -->
    <section class="section section--grey">
      <div class="container">
        <div class="row center-cols">
          <div class="col col--9">
            <h2 class="title title--blue">Where Most First Time Course <span>Creators Go Terribly Wrong</span></h2>
            <p>“If you build it, they will come”</p>
            <p>You may have heard this quote before. It’s from the 1989 hit movie
              “Field of Dreams”. Great movie, terrible and costly business advice.</p>
            <p>And while it was never meant to be business philosophy, so many
              “gurus” end up blatantly pushing it. Especially on hungry first time entrepreneurs.</p>
            <p>They sucker people into spending thousands on unproven ideas,
              who then waste weeks, months, and sometimes even years creating
              content and courses <strong>without ever knowing if a single soul even wants it.</strong></p>
            <p>And sadly, I see it all the time.</p>
            <p>After interviewing thousands of successful entrepreneurs like I have,
              it’s clear that many of their failures are all woven with the same
              distinguishable thread: <strong>they created something no one wants.</strong></p>
            <p>Yet it still happens every single day. Mistakes you want to avoid at all costs...</p>
            <p>People spending time, money, and energy into creating
              a digital product, but giving no thought to the digital product
              business as a whole. </p>
            <p>No idea validation… No audience creation… No distinguishing whether
              a certain passion is worth turning into a business or should be left as a passion.</p>
            <p>And maybe the worst is those who make a thousand bucks from a quick launch,
              but are never able to turn it into a viable, long term business that
              creates enough income to really live on.</p>
            <p>And as someone who’s guilty of every single one of these business blunders
              -- I once started a perfume review site that totally tanked! --
              I think I can share some valuable insights...</p>
          </div><!-- /col -->
        </div>
    </section>
    <section class="section section--light">
      <div class="container">
        <div class="row center-cols">
          <div class="col col--9">
            <h2 class="title title--blue">Free Advice Worth Millions</h2>
            <p>So here’s some free advice worth millions. At least I know it has
              been to Foundr which has grown from doing $5.00 on our first
              day to now being a multi-million dollar brand…</p>
            <p>To succeed in this kind of business where you turn your passion,
              skills, or unique knowledge into profitable digital products…
              <strong>(the best kind of business in the world in my opinion)</strong></p>
            <p>You must have a winning formula for both product creation and audience creation…</p>
            <p><strong>...and you must do them at the same time!</strong></p>
            <p>I see too many people procrastinating just trying to build an audience...
               Or others spending all their time solely focusing on product
               creation or always stuck recording content for their future online course.</p>
            <p>This approach turns that initial excitement for an idea,
              into crippling anxiety and destructive mental chatter.</p>
            <p class="green-quote">“This idea is already out there…”</p>
            <p class="green-quote">“No one would even pay for this anyways…”</p>
            <p class="green-quote">“Others are already more qualified than me,
            so what’s the point…”</p>
            <br>
            <p>I’ve seen it take the wind out of the sails of new entrepreneurs
              who then lose momentum, confidence, and decide that this online
              business thing is only for those <strong>“other people”</strong>.</p>
            <p>Those other people who are in fact no smarter than you!</p>
            <p>So take and run with this advice: when you weave audience building
            and digital product creation together (at the same time)
            you <strong>instantly accelerate your results.</strong></p>
            <p>It’s a model that allows you to make sales RIGHT FROM THE START
               even if you’re brand new! And once you’ve made those first
               few sales...the rest is history!</p>
            <p>Then throw in the whole “evergreen product creation” into the mix
              and it’s like you’re a damn internet wizard with the power to cast
              profit producing spells that’d make even Harry Potter jealous.</p>
            <p>And for those of you just starting out, who have absolutely
              zero audience other than your Mom following you on Facebook…</p>
          </div><!-- /col -->
        </div>
      </div>
    </section>
    <section class="section section--dark-blue no-audience">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="title font-poppins">No Audience? No Problem!</h2>
          </div><!-- /col -->
        </div>
        <div class="row row--narrow-90 mt-2">
          <div class="col col--5 text-left-md">
            <img class="icon" src="<%=require('./images/people-icon.png')%>" data-srcset="" alt="" width="264" height="264" />
          </div><!-- /col -->
          <div class="col col--7 text-left-md">
            <p>Here’s another massive secret that keeps many would be entrepreneurs
              stuck at a turtles pace: your audience doesn’t have to be big.
              In fact, sometimes the biggest money comes from the smallest lists!</p>
            <p>You just have to know how to attract the right kind of people
              and then how to maximize their lifetime customer value.</p>
          </div><!-- /col -->
        </div>
        <div class="row row--narrow-90 mt-2 switch-two-cols-md">
          <div class="col col--8 text-left-md">
            <p>I’ll reveal the step-by-step process of how we do this at Foundr
              with our <strong>“Digital Product Value Ladder”</strong>. It alone has made us
              hundreds of thousands when we first started and millions since.
              It’ll be a game changer if you’re just starting out.</p>
          </div><!-- /col -->
          <div class="col col--4 text-right-md">
            <img class="icon" src="<%=require('./images/process-icon.png')%>" data-srcset="" alt="" width="272" height="272" />
          </div><!-- /col -->
        </div>
        <div class="row row--narrow-90 mt-2">
          <div class="col col--4 text-left-md">
            <img class="icon icon--follower" src="<%=require('./images/follower-icon.png')%>" data-srcset="" alt="" width="284" height="255" />
          </div><!-- /col -->
          <div class="col col--8 text-left-md">
            <p>It’s also why one of the most famous and widely shared articles
              of all time in the entrepreneurial community is <strong>“1,000 True Fans”</strong> by Kevin Kelly.</p>
          </div><!-- /col -->
        </div>
      </div>
    </section><!-- /no-audience -->
    <section class="section section--light kevin">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="title title--blue font-poppins">The Absolute Magic Of <span>“1,000 True Fans”</span></h2>
          </div>
        </div>
        <div class="row row--narrow-80 kevin-row">
          <div class="col col--4 text-right-md">
            <img class="kevin" src="<%=require('./images/kevin.jpg')%>" data-srcset="" alt="" width="193" height="259" />
          </div>
          <div class="col col--8 text-left-md">
            <p><strong>Kevin Kelly</strong> is the co-founder of the world-renowned Wired Magazine.</p>
            <p>The following snippet from the article completely changed my life after I read it.</p>
            <p>“Whatever your interests as a creator are, your 1,000 true fans are one click from you.</p>
          </div>
        </div>
        <div class="row center-cols">
          <div class="col col--9">
            <p>As far as I can tell there is nothing — no product, no idea,
              no desire — without a fan base on the internet. Everything made,
              or thought of, can interest at least one person in a million — it’s a low bar.</p>
            <p>Yet if even only one out of a million people were interested,
              that’s potentially 7,000 people on the planet. That means that
              any 1-in-a-million appeal can find 1,000 true fans. </p>
            <p>The trick is to practically find those fans, or
              more accurately, to have them find you.”</p>
            <p>Put simply?</p>
            <p class="green-quote">This online creator thing is wayyyy
              easier when you’re following the right advice.</p>
            <p class="no-margin">You don’t need a massive audience...</p>
            <p class="no-margin">You don’t need the “right” idea…</p>
            <p>And you don’t need mountains of startup capital...</p>
            <p>All you need is drive, a desire, and a spark to get started! Your fans
            are already out there!</p>
          </div><!-- /col -->
        </div>
        <div class="row center-cols mb-3">
          <div class="col col--10">
            <p>Better yet, I’m about to give you a complete roadmap outlining
              every shortcut I’ve discovered building this exact kind of business.
              Like many of you, I started with nothing. No capital, no connections,
              and no world-class tech skills...</p>
          </div><!-- /cols -->
        </div>
      </div>
      <span class="purple-arrow-bottom"></span>
    </section><!-- kevin -->
    <section class="section section--grey foundr-started">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="title title--foundr-started">The Spark That Started</h2>
            <h3 class="subtitle subtitle--foundr-started">found<strong>r</strong></h3>
          </div><!-- /col -->
        </div>
        <div class="row center-cols">
          <div class="col col--9">
            <p>Foundr started from scratch. It was a wild idea
              that plenty of “smart” people told me wouldn’t ever work.</p>
            <p>“A magazine all about entrepreneurship? Nate, aren’t there
              already bigger and more reputable magazines doing that exact thing?”</p>
            <p>I’m not gonna act like I didn’t hear them or that it didn’t affect
              me because it did. I’m human. Prior to launching I’d think
               “Maybe they're right. Who am I to create something like this?”.</p>
            <p>But starting a business around my passion was,
              well...my passion! And that pushed me forward.</p>
            <p>Just a few years later and <strong>our audience is now more than 3,000,000 combined fans.</strong></p>
            <p>We’re a multi-million dollar brand partnering with some of the
              biggest names in the business. From nothing - using the exact two-edged formula
              I’ve been talking about here - I grew audiences, created digital products, and made sales!</p>
          </div><!-- /col -->
        </div>
        <div class="row icons-titles">
          <div class="col">
            <div class="row row--ico-title">
              <div class="col col--4">
                <div class="ico-title__image-container">
                  <img class="ico-title__image" src="<%=require('./images/gi1.png')%>" data-srcset="" alt="" width="177" height="127" />
                </div>
                <h4 class="ico-title__text"><span>3,000,000</span> COMBINED FANS</h4>
              </div>
              <div class="col col--4">
                <div class="ico-title__image-container">
                  <img class="ico-title__image" src="<%=require('./images/gi2.png')%>" data-srcset="" alt="" width="112" height="160" />
                </div>
                <h4 class="ico-title__text"><span>10,000+</span>
                  COURSE STUDENTS AND </h4>
              </div>
              <div class="col col--4">
                <div class="ico-title__image-container">
                  <img class="ico-title__image" src="<%=require('./images/gi3.png')%>" data-srcset="" alt="" width="131" height="132" />
                </div>
                <h4 class="ico-title__text"><span>100</span> COURSES PRODUCED BY THE TEAM</h4>
              </div>
            </div><!-- /row--ico-title -->
            <div class="row row--ico-title">
              <div class="col col--4">
                <div class="ico-title__image-container">
                  <img class="ico-title__image" src="<%=require('./images/gi4.png')%>" data-srcset="" alt="" width="131" height="157" />
                </div>
                <h4 class="ico-title__text"><span>76 MAGAZINE</span> PRODUCED</h4>
              </div>
              <div class="col col--4">
                <div class="ico-title__image-container">
                  <img class="ico-title__image" src="<%=require('./images/gi5.png')%>" data-srcset="" alt="" width="184" height="120" />
                </div>
                <h4 class="ico-title__text"><span>300+</span> INTERVIEWS WITH THE MOST INFLUENTIAL FOUNDERS OF OUR GENERATION</h4>
              </div>
              <div class="col col--4">
                <div class="ico-title__image-container">
                  <img class="ico-title__image" src="<%=require('./images/gi6.png')%>" data-srcset="" alt="" width="174" height="107" />
                </div>
                <h4 class="ico-title__text"><span>100,000+</span> CUSTOMERS</h4>
              </div>
            </div><!-- /row--ico-title -->
          </div><!-- /col -->
        </div><!-- /icons-titles -->
        <div class="row center-cols">
          <div class="col col--9">
            <p>and countless other ebooks, webinars, and digital trainings.</p>
            <p>We know exactly what it takes to turn your passion or unique
              knowledge into a thriving online business that can do six
              and even seven figures in revenue!</p>
            <p>And now, if you’ll let us, we’d like to take you behind-the-scenes
              of how we do it all and quite literally take you by the hand,
              coaching you personally, to help you do it for yourself!</p>
            <p>This might be our most impactful program yet...</p>
          </div><!-- /col -->
        </div>
      </div>
    </section><!-- /foundr-started -->
    <section class="section section--light is-intro">
      <div class="container">
        <div class="row center-cols">
          <div class="col col--8">
            <h2 class="is-intro__title">Introducing</h2>
             <img class="is-intro__logo" src="<%=require('./images/is-logo.png')%>" data-srcset="" alt="" width="694" height="277" />
             <h3 class="is-intro__subtitle">How To Turn Your Passion Into A Six-Figure Digital Product Business</h3>
          </div><!-- /col -->
        </div>
        <div class="row">
          <div class="col">
            <img class="is-intro__devices hide-on-desktop-md" src="<%=require('./images/is-devices-mobile.jpg')%>" data-srcset="" alt="" width="710" height="470" />
            <img class="is-intro__devices hide-on-mobile-md" src="<%=require('./images/is-devices-desktop.jpg')%>" data-srcset="" alt="" width="1212" height="695" />
          </div><!-- /col -->
        </div>
        <div class="row center-cols">
          <div class="col col--10">
            <h4 class="is-intro__lead font-arvo">A rare behind-the-scenes look at a multi-million
              dollar business that’s creating six and seven-figure digital products from scratch.</h4>
          </div><!-- /col -->
        </div>
        <div class="row center-cols">
          <div class="col col--10">
            <p class="green-text">VALIDATE YOUR IDEA AND BUILD YOUR 1,000 TRUE FANS!</p>
            <p>When you can quickly validate any digital product idea you have
              and <strong>get paid before ever sinking time and money into producing it</strong>,
              your life is never quite the same. While other people are stuck
              “playing business” and endlessly talking about ideas, you’re
              bringing them to life, making them cash flow right into your
              pocket from anywhere in the world.</p>
            <p>But this goes beyond just making money online, by following the
              strategies laid out inside this course, <strong>you’ll build a business
              you truly love.</strong> Your work becomes play and you’re constantly
              creating content you care about. Travel, desired cash flow,
              complete control of your time; it’s all designed into what
              you’re creating inside Infinite Scale.</p>
            <h5 class="green-text green-text--large">COURSE PRODUCTION, TECH SETUPS, AND YOUR ENTIRE LAUNCH PLAN!</h5>
            <p>At the time of writing this our team has <strong>produced nearly 100
              online courses.</strong> Plus countless ebooks and every other kind of
              digital product you can think of. We’re not some guru who only
              knows what works with their one course they’ve produced.</p>
            <p>Plus we’ve launched these again and again creating <strong>multiple
               six and seven figure successful digital products.</strong> All from scratch.
               We’re revealing all of our time saving shortcuts and
               the “best of the best” of everything we know.</p>
            <p>Inside Infinite Scale we walk you through start to finish course
              production, complete tech setups, and even through our ridiculously
              detailed launch campaigns for generating hundreds of thousands of
              dollars like clockwork! We’re even giving you email and social swipes
              you can use in your own launch!</p>
              <p class="no-margin">No matter what your passion or unique knowledge is, we’ll
                show you how to turn it into a successful digital product
                <strong>faster than you ever thought possible.</strong> Just follow along,
                take action, and reach out whenever you need additional help!</p>
              <p>We got you!</p>
          </div>
        </div>
      </div>
    </section><!-- is-intro -->
    <!--
    **** SECOND PAGE ****
    -->
    <section class="section section--blue hero meet-your-instructor"
             style="background-image: url(<%=require('./images/nathan-hero.jpg')%>)">
      <div class="container">
        <div class="row">
          <div class="col text-left-md">
            <h2 class="meet-your-instructor__title">Meet Your Instructor:</h2>
            <h3 class="meet-your-instructor__subtitle">“From 9-5 To
            <span>A Global Media Empire”</span></h3>
          </div><!-- /col -->
        </div>
      </div>
    </section><!-- /meet-your-instructor -->
    <section class="section section--grey meet-your-instructor-2">
      <div class="container">
        <div class="row three-images-row">
          <div class="col col--4 text-right-md">
            <img src="<%=require('./images/Nathan_with_Branson.jpg')%>" data-srcset="" alt="" width="362" height="338" />
          </div>
          <div class="col col--4 text-center">
            <img src="<%=require('./images/Nathan_with_Arianna.jpg')%>" data-srcset="" alt="" width="349" height="355" />
          </div>
          <div class="col col--4 text-left-md">
            <img src="<%=require('./images/Nathan_interviews_Tony_Robbins.jpg')%>" data-srcset="" alt="" width="318" height="344" />
          </div>
        </div>
        <div class="row center-cols">
          <div class="col col--10">
            <p>As founder of Foundr Magazine -- an independently published global
              media and educational company -- Nathan Chan has had the rare opportunity
              to work alongside some of the most iconic entrepreneurs of our age.</p>
            <p>But just a few years ago in 2013 in Melbourne, Australia, he was
              working a 9-to-5 job in IT. While he was appreciative of the work,
              he struggled to enjoy it. Everyday was a long and slow grind just waiting to clock out.</p>
            <p>He knew he was meant for something else, something more.
               The entrepreneurial spirit was looking for its way out.</p>
            <p>After trying a handful of other side hustles, he finally
              decided to pursue something he was passionate about...startups!</p>
            <p>The first day Foundr launched it made $5.00 in sales.</p>
            <p>Since that day Foundr has experienced rapid growth
              while being completely bootstrapped from the ground up!
              No venture capital and no loans.</p>
            <p>That idea turned side hustle has now transformed into a
               multi-million dollar brand, with millions of loyal fans,
               and products which are changing people's lives.</p>
          </div><!-- /col -->
        </div>
        <div class="story-row">
          <img class="story-row__image" src="<%=require('./images/myi-1.jpg')%>" data-srcset="" alt="" width="468" height="186" />
          <img class="story-row__image" src="<%=require('./images/myi-2.jpg')%>" data-srcset="" alt="" width="405" height="170" />
        </div>
        <div class="story-row">
          <img class="story-row__image" src="<%=require('./images/myi-3.jpg')%>" data-srcset="" alt="" width="340" height="298" />
          <img class="story-row__image" src="<%=require('./images/myi-4.jpg')%>" data-srcset="" alt="" width="334" height="301" />
        </div>
        <div class="story-row">
          <img class="story-row__image" src="<%=require('./images/myi-5.jpg')%>" data-srcset="" alt="" width="430" height="187" />
          <img class="story-row__image" src="<%=require('./images/myi-6.jpg')%>" data-srcset="" alt="" width="470" height="189" />
        </div>
      </div>
    </section>
    <div class="full-width-cols-cover-wrapper">
      <section class="section full-width-cols-cover">
        <div class="fwcc fwcc--1 fwcc--1-40">
          <p>
            An Education Driven Practitioner, Not A Guru
          </p>
        </div>
        <div
          class="fwcc fwcc--2 fwcc--2-60"
          style="background-image: url('<%=require('./images/nathan-2cols-cover.jpg')%>');"
          >
        </div>
      </section><!-- /full-width-cols -->
    </div><!-- /full-width-cols-cover-wrapper -->
    <section class="section section--light content-image-intersection">
      <div class="container">
        <div class="row center-cols">
          <div class="col col--9">
            <p>Along with being one of the leading publishers of actionable
              entrepreneurial content, Nathan has taken a firm stance when
              it comes to the “guru” business model.</p>
            <p>It’s easy to rent a lambo and say it’s yours on Instagram.
              It’s easy to scream promises but barely be able to deliver
              whispers. And it’s easy to give advice without ever having
              done it and risked everything.</p>
            <p>What’s more valuable? The insights and know how that come from
              bootstrapping and building a real business. One that’s not just
              another “flash in the pan” but is now coming into its 7th year!
              One that grew more than 300% just last year!</p>
          </div><!-- /col -->
        </div>
        <div class="row center-cols">
          <div class="col col--10">
            <div class="grey-box grey-box--first-part">
              <h2 class="grey-box__title">Along the way, Nathan has also</h2>
              <p>• Gone from zero to more than 100,000+ customers in only 6 years!</p>
              <p>• Top 10 ranked ‘Business & Investing Magazine’ on the app store.</p>
              <p>• Turned a wild idea “side hustle” into a multi-million
                dollar brand with nearly 30 employees worldwide without
                ever receiving a penny of outside funding!</p>
              <p>• Assembled a Foundr team responsible for creating nearly 100 online courses.</p>
            </div><!-- /grey-box -->
          </div><!-- /col -->
        </div>
      </div>
      <img class="grey-box__image hide-on-mobile-md" src="<%=require('./images/team.jpg')%>" data-srcset="" alt="" width="1590" height="609" />
      <img class="grey-box__image hide-on-desktop-md" src="<%=require('./images/team-mobile.jpg')%>" data-srcset="" alt="" width="720" height="276" />
      <div class="container">
        <div class="row center-cols">
          <div class="col col--10">
            <div class="grey-box grey-box--second-part">
              <p>• Created a world class brand that is responsible f
                or having 1 millions of people consuming our content every week</p>
              <p>• Through foundr has created multiple multi-million dollar per year online courses</p>
              <p>• Won runner up for Publisher of the Year for 2015 in the Digital Magazine awards.</p>
              <p>• Interviewed Richard Branson, Mark Cuban, Ariana Huffington,
                Daymond John, Tim Ferriss, Seth Godin, and more! [find all founders photos here using your gmail access]</p>
            </div><!-- /grey-box -->
          </div><!-- /col -->
        </div>
      </div>
      <div class="container">
        <div class="row center-cols">
          <div class="col col--9">
              <p>After years of building a business all around turning knowledge into digital products…</p>
              <p>Seeing what worked, what failed, and discovering the fastest
                and easiest ways for a new entrepreneur to succeed with this model...</p>
              <p class="green-text">...Nate synthesized every single actionable insight, tool, and
                idea worth sharing into the absolute most in-depth Digital Product
                Business training ever made available!</p>
              <p>Going behind-the-scenes of a company who does it every single day!</p>
              <p>This is truly game changing material for anyone looking to turn
                a passion into a real and lasting six-figure online business.
                A business they love and can run from anywhere in the world.</p>
              <p><strong>Infinite Scale</strong> is unlike anything you’ve ever experienced.</p>
              <p>And now you can see it for yourself risk-free…</p>
              <span class="purple-arrow-bottom purple-arrow-bottom--large"></span>
          </div><!-- /col -->
        </div>
      </div>
    </section><!-- content-image-intersection -->
    <section class="section section--grey tabs">
      <div class="tabs__title-container">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="title tabs__title">HERE’S WHAT YOU GET WHEN YOU TRY IT OUT TODAY:</h2>
            </div><!-- /col -->
          </div>
        </div>
      </div>
      <div class="container container--1500">
        <div class="section--grey tabs__buttons mb-2">
          <a id="defaultOpen" href="#t1" data-tabid="t1" class="btn btn--tabs">Module 1</a>
          <a href="#t2" data-tabid="t2" class="btn btn--tabs">Module 2</a>
          <a href="#t3" data-tabid="t3" class="btn btn--tabs">Module 3</a>
          <a href="#t4" data-tabid="t4" class="btn btn--tabs">Module 4</a>
          <a href="#t5" data-tabid="t5" class="btn btn--tabs">Module 5</a>
        </div><!-- /tabs__buttons -->
      </div>
      <div class="container">
        <div class="row center-cols">
          <div class="col">
            <div id="t1" class="tabs__content section--light">
              <h2>DIGITAL PRODUCT BUSINESS FUNDAMENTALS</h2>
              <p>In this module you’ll learn the tested foundation for both starting
                and growing your online digital product business. From identifying
                if your idea has legs to discovering the secrets to creating a
                product once and leveraging it for a lifetime, it’s all here.</p>
              <p class="green-text">LESSON 1: DISCOVERING YOUR PASSION OR SKILL WORTH PURSUING</p>
              <p class="green-text">LESSON 2: FOUNDR’S SECRET EVERGREEN CONTENT FORMULA</p>
              <p class="green-text">LESSON 3: BREAKTHROUGH GOAL SETTING FOR NEW BUSINESSES</p>
              <p class="green-text">LESSON 4: HOW TO KNOW EXACTLY WHAT PEOPLE WILL PAY FOR</p>
              <p class="green-text">LESSON 5: IDEAS: IS YOURS A VITAMIN OR PAINKILLER?</p>
              <p class="green-text">LESSON 6: EMBRACING PROGRESS OVER PERFECTION</p>
              <br>
              <p><strong>Sneak peek inside Module 1...</strong></p>
              <div class="">
                <div class="col col--10">
                  <ul>
                    <li>How to “flush out” and finally know once and for all what you’re
                    passionate about!</li>
                    <li>Foundr’s never before shared “Evergreen Secrets Checklist”.
                      How you can create content and digital products once and sell
                      them year after year without ever having to worry about the
                      content “going out of date”!</li>
                    <li>Million dollar market research hacks made quick and simple…</li>
                    <li>The magical “Goal Pyramid” that turns dreams into realities for
                    first-time entrepreneurs!</li>
                    <li>A little-known way for discovering your prospects most intense pain points.
                    The one’s they’re willing to pay to have you create
                    a product around!</li>
                    <li>One piece of software Foundr uses for insane productivity
                    again and again.</li>
                    <li>And so much more!</li>
                  </ul>
                </div><!-- /col -->
              </div>
            </div><!-- /tabs content -->
            <div id="t2" class="tabs__content section--light">
              <p>lorem ipsum 2</p>
            </div><!-- /tabs content -->
            <div id="t3" class="tabs__content section--light">
              <p>lorem ipsum 3</p>
            </div><!-- /tabs content -->
            <div id="t4" class="tabs__content section--light">
              <p>lorem ipsum 4</p>
            </div><!-- /tabs content -->
            <div id="t5" class="tabs__content section--light">
              <p>lorem ipsum 5</p>
            </div><!-- /tabs content -->
          </div>
        </div>
      </div>
    </section><!-- /tabs -->
  <section class="section section--light guarantee">
    <div class="container">
      <div class="row center-cols">
        <div class="col col--10">
          <img class="guarantee__image" src="<%=require('./images/guarantee.png')%>" data-srcset="" alt="" width="548" height="470" />
          <a class="btn btn--is" href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform">TRY “INFINITE SCALE” TODAY!</a>
        </div>
        <div class="col col--9">
          <ul class="list">
            <li class="list__item list__item--large">6 Easy-To-Follow Training Modules</li>
            <li class="list__item list__item--large">47x Video Lessons</li>
            <li class="list__item list__item--large">Nearly XX Full Hours Of Digital Product Business Training</li>
            <li class="list__item list__item--large">Professionally Produced Workbook</li>
            <li class="list__item list__item--large">Lifetime Membership To Course Updates</li>
            <li class="list__item list__item--large">Exclusive Mastermind Community Facebook Group with direct mentorship by Nathan</li>
            <li class="list__item list__item--large">Auto-upgrade to VIP benefits to enjoy members only special offer</li>
            <li class="list__item list__item--large">Plus 7 Incredible Free Bonuses!</li>
          </ul>
        </div><!-- /col -->
      </div>
    </div>
  </section><!-- /guarantee -->
  <div class="testimonials__video-container">
  <iframe class="testimonials__video"
    src="https://player.vimeo.com/video/342090373"
    width="640"
    height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
  </iframe>
</div><!-- /testimonials__video-container -->
  <section class="section section--dark testimonials">
    <div class="container">
      <div class="row center-cols">
        <div class="col col--7">
          <h2 class="testimonials__title"><span>Mitch Harper</span>
          Investor, Co-Founder of
          BigCommerce and 7x other Startups</h2>
        </div><!-- /col -->
      </div>
      <div class="row center-cols">
        <div class="col">
          <div class="row testimonials__row">
            <div class="col col--6">
              <img class="testimonials__image" src="<%=require('./images/t1.jpg')%>" data-srcset="" alt="" width="568" height="738" />
            </div>
            <div class="col col--6">
              <blockquote class="testimonials__quote">
                <p>“Foundr’s the perfect platform for the new generation of entrepreneurs
                who don’t know where to go or what to do. Aspiring entrepreneur looking
                to start your business? I highly recommend checking out Foundr –
                an invaluable resource to help get your business off the ground.”</p>
                <p class="testimonials__name">Daymond John, Founder of FUBU</p>
              </blockquote>
            </div>
          </div>
          <div class="row switch-two-cols-md testimonials__row">
            <div class="col col--6">
              <blockquote class="testimonials__quote">
                <p>“If you are looking to learn about entrepreneurship you have to check out Foundr.
                  They have awesome interviews with some of the world’s leading business experts.”</p>
                <p class="testimonials__name">Marie Forleo, Founder of MarieTV</p>
              </blockquote>
            </div>
            <div class="col col--6">
              <img class="testimonials__image" src="<%=require('./images/t2.jpg')%>" data-srcset="" alt="" width="498" height="728" />
            </div>
          </div>
          <div class="row testimonials__row">
            <div class="col col--6">
              <img class="testimonials__image" src="<%=require('./images/t3.jpg')%>" data-srcset="" alt="" width="540" height="722" />
            </div>
            <div class="col col--6">
              <blockquote class="testimonials__quote">
                <p>“If you’re looking for a great resource to hear the stories
                  of today’s successful entrepreneurs and learn what’s needed
                  to be successful yourself, Foundr Magazine is where you should
                  be allocating your time.”</p>
                <p class="testimonials__name">Gary Vaynerchuk, Founder of VaynerMedia</p>
              </blockquote>
            </div>
          </div>
          <div class="row switch-two-cols-md testimonials__row">
            <div class="col col--6">
              <blockquote class="testimonials__quote">
                <p>“Foundr is the ultimate resource for the aspiring entrepreneur.
                  Not only is it beautifully designed, it contains invaluable
                  content from the most successful people in business. “</p>
                <p class="testimonials__name">Bobbi Brown, Founder of Bobbi Brown Cosmetics</p>
              </blockquote>
            </div>
            <div class="col col--6">
              <img class="testimonials__image" src="<%=require('./images/t4.jpg')%>" data-srcset="" alt="" width="611" height="948" />
            </div>
          </div>
        </div><!-- /col -->
      </div>
    </div><!-- /container -->
  </section><!-- testimonials -->
  <section class="section section--light limited-offer">
    <div class="container container--1500">
      <div class="row">
        <div class="col">
          <img class="limited-offer__image" src="<%=require('./images/limited_offer.png')%>" data-srcset="" alt="" width="630" height="644" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img class="is-intro__devices hide-on-desktop-md-inline-b" src="<%=require('./images/is-devices-mobile.jpg')%>" data-srcset="" alt="" width="710" height="470" />
          <img class="is-intro__devices hide-on-mobile-md-inline-b" src="<%=require('./images/is-devices-desktop.jpg')%>" data-srcset="" alt="" width="1212" height="695" />
        </div>
      </div>
  </section><!-- /limited-offer -->
  <section class="section section--grey bonus-boxes">
    <div class="container container--1500">
      <div class="row center-cols">
        <div class="col col--8">
          <h2 class="title bonus-boxes__title">And By Joining Today You’ll Also Receive
Instant Access To These
<span>7 Awesome Bonuses:</span></h2>
        </div><!-- /col -->
      </div>
      <div class="row bonus-boxes__row">
        <div class="col bonus-boxes__col">
          <div class="bonus-box">
            <div class="bonus-box__container">
              <h3 class="bonus-box__title">Bouns #1</h3>
              <h4 class="bonus-box__subtitle">HOW TO CREATE YOUR OWN MAGAZINE!</h4>
              <p>This has been one of the most asked for trainings we’ve had here at Foundr!
              So instead of charging for it, we decided to include it in Infinite Scale
              totally free! Learn all the secrets of how Nathan Chan created a low-risk
              magazine which would turn into a multi-million dollar digital products online business.</p>
            </div>
          </div><!-- /bonus-box -->
        </div><!-- /col -->
        <div class="col bonus-boxes__col">
          <div class="bonus-box">
            <div class="bonus-box__container">
              <h3 class="bonus-box__title">Bouns #2</h3>
              <h4 class="bonus-box__subtitle">HIRING FREELANCERS & OUTSOURCING BUSINESS GROWTH!</h4>
              <p>Oftentimes hiring freelancers and outsourcing can hurt more than
                help while creating more work than you started with. This training
                will show you not only how Foundr finds top talent, but how we
                effectively manage a remote team of nearly 30 people!</p>
            </div>
          </div><!-- /bonus-box -->
        </div><!-- /col -->
        <div class="col bonus-boxes__col">
          <div class="bonus-box">
            <div class="bonus-box__container">
              <h3 class="bonus-box__title">Bouns #3</h3>
              <h4 class="bonus-box__subtitle">HOW TO CREATE AN IRRESISTIBLE LEAD MAGNET!</h4>
              <p>Want leads flowing into your business day after day, rain or shine,
                 working or sleeping? Well when you know how to craft an irresistible
                 and enticing lead magnet, that’s exactly what you’ll have. In this
                 bonus we show you both how we do it and walk you through a handful
                 of the most effective types we’ve found. And we’ve tried everything!</p>
             </div>
          </div><!-- /bonus-box -->
        </div><!-- /col -->
        <div class="col bonus-boxes__col">
          <div class="bonus-box">
            <div class="bonus-box__container">
              <h3 class="bonus-box__title">Bouns #4</h3>
              <h4 class="bonus-box__subtitle">HIGH CONVERTING OPT-IN PAGE TEMPLATES!</h4>
              <p>When you run a multi-million dollar digital products business one
                thing becomes crystal clear: not all opt-in page templates are
                created equal! Luckily for we’ve tested and tweaked the ones
                included here so you’ll have your best shot at high conversions right out of the gate!</p>
            </div>
          </div><!-- /bonus-box -->
        </div><!-- /col -->
        <div class="col bonus-boxes__col">
          <div class="bonus-box">
            <div class="bonus-box__container">
              <h3 class="bonus-box__title">Bouns #5</h3>
              <h4 class="bonus-box__subtitle">FILL-IN-THE-BLANK LAUNCH EMAILS!</h4>
              <p>Ask any savvy online entrepreneur and they’ll tell you, the money
                is in your email list. And never is that more true than when you’re
                doing a launch! We’ve paid top copywriters 10’s of thousands of dollars
                and used these exact email templates to produce millions in sales
                on first time launches! </p>
            </div>
          </div><!-- /bonus-box -->
        </div><!-- /col -->
        <div class="col bonus-boxes__col">
          <div class="bonus-box">
            <div class="bonus-box__container">
              <h3 class="bonus-box__title">Bouns #6</h3>
              <h4 class="bonus-box__subtitle">YOUR SIX-FIGURE LAUNCH VAULT</h4>
              <p>Since we’re already giving you the emails, we figured we might as
                well give you everything else you need too! The sales page, order form,
                thank you page, etc! Simply customize our proven templates and watch
                them bring in sale after sale!</p>
            </div>
          </div><!-- /bonus-box -->
        </div><!-- /col -->
      </div><!-- /bonus-boxes__row -->
      <div class="row bonus-boxes__row center-cols">
        <div class="col col--9">
          <div class="bonus-box bonus-box--featured">
            <div class="bonus-box__container">
              <h3 class="bonus-box__title">Bouns #7</h3>
              <h4 class="bonus-box__subtitle">PRIVATE MASTERMIND LED BY NATHAN CHAN</h4>
              <p>This bonus itself is worth the entire investment. As a member of
                Infinite Scale you’ll get access to a private Facebook Group led
                by Nathan Chan all around digital products. You can ask questions,
                get feedback, and even network with other members! Having access
                to someone like Nate (and the entire Foundr team) is like cutting
                years of your entrepreneur learning curve!</p>
            </div>
          </div><!-- /bouns-box -->
        </div><!-- /col -->
    </div>
  </section><!-- /bonus-boxes -->
  <section class="section section--light try-is try-is--1">
    <div class="container">
      <div class="row center-cols">
        <div class="col col--6">
          <img class="try-is__guarantee-image" src="<%=require('./images/guarantee.png')%>" data-srcset="" alt="" width="548" height="470" />
        </div>
        <div class="col col--8">
          <p class="try-is__text">With our 365-day money back guarantee, you can now launch your
            new business worry free! If for some reason you aren’t completely
            blown away with Infinite Scale, just let us know and we’ll refund
            every penny for a whole year. No questions. No hurdles. And no hard feelings.</p>
        </div><!-- /col -->
      </div>
      <div class="row">
        <div class="col">
          <a class="btn btn--is-gradient" href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform">TRY “INFINITE SCALE” TODAY!</a>
        </div><!-- /col -->
      </div>
    </div>
    <div class="container container--1400">
      <div class="packages">
        <div class="package">
          <h4 class="package__title">Full Digital Course Access</h4>
          <p class="package__text">
            Get access to the entire course on all devices: iOS, Android, Desktop and tablet.
          </p>
          <img class="package__image" src="<%=require('./images/package_image.png')%>" data-srcset="" alt="" width="367" height="210" />
          <p class="package__price"><span>$</span>497</p>
          <div class="package__footer">
            <a class="btn package__btn" href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform">Add to Cart</a>
          </div><!-- /package__footer -->
        </div><!-- /package -->
        <div class="package package--featured">
          <h4 class="package__title">Full Digital Course Access <span>+</span> Completion Certificate</h4>
          <p class="package__text">
            Get access to the entire course on all devices: iOS, Android, Desktop and tablet.
          </p>
          <img class="package__image" src="<%=require('./images/package_featured_image.png')%>" data-srcset="" alt="" width="425" height="310" />
          <p class="package__price"><span>$</span>997</p>
          <div class="package__footer">
            <a class="btn package__btn" href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform">Add to Cart</a>
          </div><!-- /package__footer -->
        </div><!-- /package -->
        <div class="package">
          <h4 class="package__title">Full Digital Course Access</h4>
          <p class="package__text">
            Get access to the entire course on all devices: iOS, Android, Desktop and tablet.
          </p>
          <img class="package__image" src="<%=require('./images/package_image.png')%>" data-srcset="" alt="" width="367" height="210" />
          <p class="package__price"><span>$</span>1997</p>
          <div class="package__footer">
            <a class="btn package__btn" href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform">Add to Cart</a>
          </div><!-- /package__footer -->
        </div><!-- /package -->
      </div><!-- /packages -->
    </div><!-- /container -->
    <div class="container">
      <span class="purple-arrow-bottom"></span>
    </div>
  </section><!-- /try-is--1 -->
  <section class="section section-dark cover-hero">
    <div class="cover-hero__wrapper">
      <div class="container">
        <div class="row center-cols">
          <div class="col">
            <h2 class="title cover-hero__title">Create It Once And Leverage It For A Lifetime!
        The Digital Product
        Revolution Is Here...</h2>
          </div><!-- /col -->
        </div>
      </div>
    </div><!-- /cover-hero__wrapper -->
  </section><!-- /cover-hero -->
  <section class="section section--light try-is try-is--2">
    <div class="container">
      <div class="row center-cols">
        <div class="col col--8">
          <p>If you’ve read this far, something inside you is speaking to you.
            Maybe it’s an idea you’ve had for awhile or a burning desire to escape your 9-to-5 and do something different.</p>
          <h3 class="try-is__lead-text">No matter what it is that’s had you come this far, all I can tell you is this…</h3>
          <br />
        </div><!-- /col -->
      </div>
      <div class="row">
        <div class="col">
          <img class="hide-on-mobile-md" src="<%=require('./images/nathan-3.jpg')%>" data-srcset="" alt="" width="1170" height="499" />
          <img class="hide-on-desktop-md" src="<%=require('./images/nathan-3-mobile.jpg')%>" data-srcset="" alt="" width="720" height="370" />
        </div><!-- /col -->
      </div>
      <div class="row center-cols greater-spacing">
        <div class="col col--9">
          <br />
          <p>Follow it. Follow your intuition. Follow your “wild ideas”.
            Whether that’s to try this program or not. Either way, follow your gut.</p>
          <p>Foundr wouldn’t be here today had I not done the same. Even in the
            face of others not understanding...I took the next step. I stepped into a s
            pace of unknown and then just kept stepping.</p>
          <p>What will your life look like if in just a matter of weeks we’ve
            helped you turn your passion or unique knowledge into an amazing digital product?</p>
          <p>What will it feel like when you make that first sale and everything changes?</p>
          <p>I’d like to help you find it. I’m confident (if you just follow the course)
            that working together we can truly get you there. </p>
        </div><!-- /col -->
      </div>
      <div class="row">
        <div class="col">
          <a class="btn btn--is-gradient" href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform">TRY “INFINITE SCALE” TODAY!</a>
        </div><!-- /col -->
      </div>
    </div>
    <div class="container container--1400">
      <div class="packages">
        <div class="package">
          <h4 class="package__title">Full Digital Course Access</h4>
          <p class="package__text">
            Get access to the entire course on all devices: iOS, Android, Desktop and tablet.
          </p>
          <img class="package__image" src="<%=require('./images/package_2.png')%>" data-srcset="" alt="" width="388" height="190" />
          <p class="package__price"><span>$</span>497</p>
          <div class="package__footer">
            <a class="btn package__btn" href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform">Add to Cart</a>
          </div><!-- /package__footer -->
        </div><!-- /package -->
        <div class="package package--featured">
          <h4 class="package__title">Full Digital Course Access <span>+</span> Completion Certificate</h4>
          <p class="package__text">
            Get access to the entire course on all devices: iOS, Android, Desktop and tablet.
          </p>
          <img class="package__image" src="<%=require('./images/package_featured_2.png')%>" data-srcset="" alt="" width="450" height="326" />
          <p class="package__price"><span>$</span>997</p>
          <div class="package__footer">
            <a class="btn package__btn" href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform">Add to Cart</a>
          </div><!-- /package__footer -->
        </div><!-- /package -->
        <div class="package">
          <h4 class="package__title">Full Digital Course Access</h4>
          <p class="package__text">
            Get access to the entire course on all devices: iOS, Android, Desktop and tablet.
          </p>
          <img class="package__image" src="<%=require('./images/package_2.png')%>" data-srcset="" alt="" width="388" height="190" />
          <p class="package__price"><span>$</span>1997</p>
          <div class="package__footer">
            <a class="btn package__btn" href="https://get.foundr.com/infinitescale-fl-livemasterclass-oform">Add to Cart</a>
          </div><!-- /package__footer -->
        </div><!-- /package -->
      </div><!-- /packages -->
    </div><!-- /container -->
  </section><!-- /try-is--2 -->
</article>
</body>
</html>
